@implements IDisposable

@inject NavigationManager Navigation

<div class="bb-navigation-header">
    <a href="">
        <img src="images/bbdb_logo.png" alt="bbdb" />
    </a>

    @foreach (var link in _links)
    {
        @if (!Navigation.Uri.Contains(link.uri))
        {
            <a href="@link.uri">@link.name</a>
        }
    }
</div>

@code {
    IList<(string uri, string name)> _links = 
    [
        ("world-drops", "World Drops"), 
        ("mystic-enchants", "Mystic Enchants") 
    ];

    protected override void OnInitialized()
    {
        Navigation.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object sender, LocationChangedEventArgs args)
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        Navigation.LocationChanged -= OnLocationChanged;
    }
}
