@page "/BronzebeardDb"

@layout HomeLayout

<PageTitle>Bronzebeard Database</PageTitle>

<div class="home">
    <img src="images/bbdb_logo.png" alt="bbdb" />
    
    <div class="links">
        <a href="BronzebeardDb/world-drops">World Drop Items</a>
    </div>
</div>
