@page "/"

@layout HomeLayout

<PageTitle>Bronzebeard Database</PageTitle>

<div class="home">
    <img src="images/bbdb_logo.png" alt="bbdb" />
    
    <div class="links">
        <a href="world-drops">World Drops</a>
        <a href="gearing">Gearing</a>
    </div>
</div>
