@page "/world-drops"

@inject HttpClient Http

<PageTitle>World Drops</PageTitle>

<h1>World Drops</h1>

<div class="world-drops">
    <div class="pane wd-filter">
        <select @bind="_selectedZoneId">
            <option value="">-- Select a Zone --</option>

            @foreach (var (id, zone) in _zones ?? new Dictionary<string, Zone>())
            {
                <option value="@id">@zone.Name</option>
            }
        </select>
    </div>

    <div class="pane wd-map">
        <span style="background: @GetMapUrl();">
        </span>
    </div>

    <div class="pane wd-table">
        <table>
            <thead>
                <tr>
                    <th>Item</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Zone</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in new List<Item>())
                {
                    <tr>
                        <td>@item.Name</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    IDictionary<string, Zone> _zones;
    string _selectedZoneId = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var zones = await Http.GetFromJsonAsync<Zone[]>("content/zones.json");
        _zones = zones.ToDictionary(x => x.Id, y => y);
    }

    private string GetMapUrl() => $"url(\"https://db.ascension.gg/static/images/wow/maps/enus/zoom/{_selectedZoneId}.jpg\")";

    public record Zone(string Id, string Name);

    public record Item(string Id, string Name);
}
