.world-drops {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
}

.pane {
    border-radius: 5px;
    padding: 20px;
    width: max-content;
    margin: 1rem 0;
    background-color: #303030;
}

select {
    color: var(--secondary-font-color);
    background-color: #1D1D1D;
    padding: 2px 10px 2px 2px;
    border-color: #62543B;
}

.wd-map {
}

    .wd-map span {
        display: block;
        position: relative;
        width: 772px;
        height: 515px;
    }

.wd-table {
}
