.world-drops {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

select {
    color: var(--secondary-font-color);
    background-color: #1D1D1D;
    padding: 2px 10px 2px 2px;
    border-color: #62543B;
}

.pane {
    padding: 5px 12px 0 12px;
    background-color: #303030;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.wd-map {
    min-height: 515px;
    min-width: 772px;
    padding: 10px;
    background-color: #303030;
    margin-bottom: 1rem;
}

    .wd-map span {
        display: block;
        position: relative;
        width: 772px;
        height: 515px;
    }

    .wd-map .pin {
        position: absolute;
        width: 1px;
        height: 1px;
        font-size: 1px;
    }

        .wd-map .pin a {
            position: relative;
            left: -12px;
            top: -12px;
            width: 24px;
            height: 24px;
            background: url(https://db.ascension.gg/static/images/Mapper/pin-yellow-new.png) no-repeat;
            background-size: 24px;
            display: block;
        }

            .wd-map .pin a:hover {
                filter: brightness(2);
            }

    .wd-map .map-name {
        font-size: 13px;
        position: absolute;
        top: 5px;
        left: 5px;
        color: var(--primary-font-color);
        text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
    }

    .wd-map .map-coordinates {
        font-size: 13px;
        position: absolute;
        bottom: 5px;
        left: 5px;
        color: var(--secondary-font-color);
        text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
    }

.wd-table {
}

    .wd-table table {
        border: 2px solid #303030;
    }

    .wd-table td {
        vertical-align: middle;
    }

    .wd-table button {
        margin: 10px 0;
    }

    .wd-table a {
        color: inherit;
    }

    .wd-table .icon {
        display: block;
        position: relative;
        width: 44px;
        height: 44px;
    }

        .wd-table .icon ins {
            display: block;
            position: absolute;
            width: 36px;
            height: 36px;
            left: 2px;
            top: 2px;
            border: 2px groove #303030;
            border-radius: 3px;
        }
